// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3f96c1;
$yellow: #FECB1D;
$orange: #E67E22;
$green: #07B184;
$gray: #0E0000;
$middle-gray: #A8A9AD;
$middle-light-gray: #B8B8B5;
$light-gray: #F4F4F4;
$antracite: #535456;
