


.button-find{
  background: linear-gradient(180deg, #3F6F60 0%, #73CC89 100%);
  color: linear-gradient(180deg, #3F6F60 0%, #73CC89 100%);
}

.question h1 {
  color: #535456;
  font-size: 30px;
  margin: 25px 0px;
}
