// Specific CSS for your home-page
body {
  min-height: 100vh;
  background-color: #F4F4F4;
}


.container-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }

  .image_buddies {
    display: block;
    h1 {
      color: #535456;
      margin-left: 20px;
      font-weight: regular;
      font-size: 40px;
      width: 80%;
    }
    img{
      position: relative;
    top: -45px;
    z-index: -1;
    }
  }
}
