
// Specific CSS for your home-page
body {
  min-height: 100vh;
  background-color: #F4F4F4;
}


.container-home {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }

  .image_buddies {
    margin-top: 70px;
    h1 {
      color: #535456;
      margin: 36px 15px 68px 30px;
      font-size: 42px;
      line-height: 150%;
    }
    img{
      position: relative;
      top: -75px;
      z-index: -1;
      width: 100vw;
    }
  }
}

.without-margin-bottom {
  margin-bottom: 0px !important;
}
