<div class="bottom-bar">
    <div class="bottom-bar-links">
      <div class="favorites">
        <%= link_to favorites_path do %>
          <%= image_tag "star-gray.svg", class: "favorite_btn"%>
        <% end %>
        <p>MES FAVORIS</p>
      </div>
      <div class="center">
        <%= image_tag "center-line.svg", class: "line"%>
      </div>
      <div class="search">
        <%= image_tag "loupe-gray.svg", class: "search_btn"%>
        <p>RECHERCHE</p>
      </div>
  </div>

