<div class="bottom-bar">
    <div class="bottom-bar-links">
      <div><%= image_tag "002-favorites.svg", class: "favorite_btn"%></div>
      <div class="code-bar_container">
        <div><%= image_tag "003-line.svg", class: "code-bar_btn"%></div>
      </div>
      <div><%= image_tag "001-search.svg", class: "search_btn"%></div>
    </div>
  </div>

