
<div class="results-content">
  <h2> Piles </h2>
    <div class="sorting-card">
      <div class="blue">
        <div class="category">
          <p><i class="fas fa-lightbulb", style="color: #3f96c1">&nbsp;</i>Consigne de tri : à déposer dans les points de collecte (petites et grandes surfaces) équipés de bornes spécifiques.</p>
        </div>
        <div class=button-glass>
          <div class="find-container-btn"><i class='fas fa-map-marker-alt', style="color: white"></i> <%= link_to "Trouver un point de collecte".html_safe, find_result_path %></div>
        </div>
      </div>
    </div>
</div>

