<div class="container">
  <h1>Piles</h1>

  <div class="results-content">
    <div class="sorting-card">
      <div class="green">
        <div class="category">
          <i class="fas fa-lightbulb", style="color: #6DC084">&nbsp;</i><p>Consigne de tri : à déposer dans les points de collecte équipés de bornes spécifiques.</p>
        </div>
        <div class=button-glass>
          <div class="current-position-btn"><i class='fas fa-map-marker-alt', style="color: white"></i> <%= link_to "Trouver un conteneur Verre ".html_safe, containers_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>
