<div class="container">
  <h1>Piles</h1>
  <p>Consigne de tri : à déposer dans les points de collecte équipés de bornes spécifiques.</p>

  <h1>Trouvez un conteneur</h1>
  <br>
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <%= form_tag(find_result_path, method: "get", class: "input-group") do %>
    <%= text_field_tag(:search, "", placeholder: "Trouvez un conteneur", class: "form-control border-0 bg-light") %>
      <div class="input-group-append">
        <%#= submit_tag 'Rec', class: "btn btn-link text-success" do %>
          <!-- <i class="fa fa-search"></i> -->
        <%# end %>
        <%= button_tag(type: "submit", class: "btn btn-link text-success") do %>
          <%#= submit_tag 'Recherche', class: "btn btn-link text-success" %>
          <i class="fa fa-search"></i>
          <% end %>
      </div>
      <% end %>
    </div>
</div>
