<div class="container-home">

    <div class="image_buddies">
      <h1>BEN VOUS AIDE A TROUVER LA POUBELLE QU'IL FAUT</h1>
      <%= image_tag "group-6.svg", alt: "Poubelles" %>
    </div>
  </div>
</div>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
