<div class="container">
  <h1>Favoris</h1>
  <% @favorites.each do |favorite| %>
    <div class="card-favorite d-flex justify-content-between">
      <div class="favorite-text">
        <h2><%= favorite.product.title %></h2>
        <p><%= favorite.product.brand %></p>
      </div>
      <%= link_to "<i class='fas fa-star' style='color:#FECB1D;'></i>".html_safe, search_path(favorite), method: :patch %>
    </div>
  <% end %>
</div>


