<div id="scan">
  <div class="panel-body">
    <div id='barcode-scanner'></div>
  </div>
  <%= render 'searches/form' %>
</div>






<!-- <script type="text/javascript" src="assets/js/libs/quagga.min.js"></script> -->
<!-- <style>
  #interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
  #interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
  canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
</style> -->
