
<div id="scan">
  <div class="panel-body">
    <div id="scandit-barcode-picker" data-api-key="<%= ENV["SCANDIT_KEY"] %>" style="max-width: 100vw; height: 100vh;"></div>
  </div>
  <%= render 'searches/form' %>
</div>




<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
