<div id="scan">
  <div class="panel-body">
    <div id="scandit-barcode-picker" data-api-key="<%= ENV["SCANDIT_KEY"] %>" style="max-width: 1280px; max-height: 80%;"></div>
  </div>
</div>

<div id="scan-result-modal-placeholder">
</div>


<input type="hidden" id="authenticity-token" value="<%= form_authenticity_token %>" />
