

.bottom-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // height: 10px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
}


.bottom-bar-home {
  // background: $light-gray;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // height: 10px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.bottom-bar-links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  // border: #07B184 2px solid ;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  background-color: $light-gray;
  padding-right: 30px;
  padding-left: 30px;
  height: 65px;
}

.bottom-bar-links-home{
  display: flex;
  justify-content: space-between;
  width: 100%;
  // border: #07B184 2px solid ;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  // background-color: $light-gray;
  padding-right: 30px;
  padding-left: 30px;
  height: 65px;
}

// .bottom_bar a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .bottom_bar a:hover {
//   opacity: 1;
// }
.favorite_btn{
  width: 40px;
  margin-top: 10px;
}
.code-bar_container{
  position: relative;
  width: 70px;

  div {
    width: 65px;
    height:65px;
    border-radius: 50%;
    background-color: #07B184;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    box-shadow: 0px 10px 5px  rgba(0,0,0,0.2);

  }
}
.code-bar_btn{
  width: 40px;
  color: white;

}
.search_btn{
  width: 40px;
  margin-top: 9px;
}



// @media (max-width: 320px) {
//   /* For a screen < 320px, this CSS will be read */
//   .container {
//     width: 200px;
//   }
// // }
