
.card-favorite {
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  height: 200px;

  h2 {
    color: $green;
    font-size: 24px;
  }

  p {
    color: $gray;
  }
}
