.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0,-25%);
}
.modal {
  display: flex;
  flex-flow: column;

  .modal-dialog-centered {
    .modal-window {
      width: 90vw;
    }
    .modal-content {
      text-align: center;
      border-radius: 10px;
      background-color: #F4F4F4;
      width: 100%;
      margin-block-start: 15rem;
      margin-left: 1rem;
      margin-right: 1rem;

      .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
      }

      .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;

        .modal-title {
          margin-bottom: 0;
          margin-left: 5px;
          line-height: 1.5;
          color: #535456;
          font-size: 26px
        }
      }
      .modal-body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 82%;
        pointer-events: auto;
        background-color: #F4F4F4;
        background-clip: padding-box;
        padding: 6px;
        outline: 0;
        text-align: left;
        padding: 6px 16px 6px 56px;
        font-size: 18px;
      }
    }
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 2rem 1.2rem 3.5rem;

  .button-modal {
    background-color: #B8B8B5;
    color: white;
    border-radius: 40px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 16px;
    text-decoration: none;

    & > a {
      text-decoration: none;
      background-color: transparent;
      display: flex;
      flex: auto;
      margin-left: 24ppx;
    }
  }
}
