.product-card {
  margin: 35px 10px 0px 10px;

  .product-details {
    padding-bottom: 10px;
    h3 {
      color: #535456;
      font-size: 30px;
      margin-bottom: 0px;
      font-weight: normal;
      width: 108%;
    }
    p {
      color: #535456;
      margin-bottom: 5px;
      margin-top: 5px;
      font-size: 18px;
    }
  }
}

.results-content {
  margin-bottom: 120px;
  h2 {
    color: #535456;
    font-size: 26px;
    margin-top: 40px;
    margin-left: 10px;
  }
}

.sorting-card {
  margin: 10px;
  margin-top: 0;
  position: relative;
  display: flex;

    h3 {
      font-size: 26px;
      color: #535456;
      font-weight: normal;
    }

    p {
      font-size: 18px;
      margin-top: 10px;
      color: #535456;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }

  .image-bin {
      width: 120px;
      position: absolute;
      top: 70px;
      left: -7px;
    }
    .yellow_bin {
      height: 10em;
    }
  }

.tip {
    background-color: #E8E8E8;
    border-radius: 5px;
    padding: 18px 15px 18px 22px;
    margin-left: -41px;
  }

.current-position-btn {
  background: linear-gradient(105.8deg, #73CC89 0%, #3F6F60 100%);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 10px;
  width: fit-content;
}

.button-glass {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.yellow {
  margin-top: 30px;
  position: relative;
  width: 100%;
    .category {
    border-radius: 6px;
    border: 4px solid #F9C71C;
    margin-left: 70px;
    padding: 10px 10px 10px 50px;
  }
}

.gray {
  margin-top: 30px;
  position: relative;
  width: 100%;
  .category {
    border-radius: 6px;
    border: 4px solid $middle-light-gray;
    margin-left: 70px;
    padding: 10px 10px 10px 50px;
  }
}

.blue {
  margin-top: 30px;
  position: relative;
  width: 100%;
  .category {
    border-radius: 6px;
    border: 4px solid #3f96c1;
    padding: 10px;
  }
  p {
    padding: 10px;
    font-size: 18px;
  }
}

.find-container-btn {
  background: linear-gradient(105.8deg, #41BBDB 0%, #002E49 100%);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 10px;
  width: fit-content;
  a{
    font-size: 16px;
  }
}

.image-glass {
  width: 120px;
  position: absolute;
  top: 70px;
  left: -7px;

  .glass_bin {
    height: 10em;
  }
}

.favorite-btn .fas .fa-star {
  margin-top: 2px;
  font-size: 1.5em;
}

