.product-card {
  margin: 35px 10px 10px 10px;

  .product-details {
    padding-bottom: 10px;
    h3 {
      color: #535456;
      font-size: 30px;
      margin-left: 10px;
      margin-bottom: 0px;
      font-weight: normal;
    }
    p {
      color: #535456;
      margin-left: 10px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }
}

.sorting-card {
  margin: 10px;
  margin-top: 0;
  position: relative;
  display: flex;

    h3 {
      font-size: 24px;
      color: #535456;
      font-weight: normal;
    }

    p {
      font-size: 12px;
      margin-top: 10px;
      color: #535456;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }

  .image-bin{
    img {
      width: 105px;
      position: absolute;
      top: 65px;
    }
  }
}

.current-position-btn {
  background: linear-gradient(105.8deg, #73CC89 0%, #3F6F60 100%);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 10px;
  width: fit-content;
}

.button-glass {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.yellow {
  margin-top: 30px;
  position: relative;
  width: 100%;
    .category {
    border-radius: 6px;
    border: 4px solid #DFD576;
    margin-left: 70px;
    padding: 10px 10px 10px 50px;
  }
}

.green {
  margin-top: 30px;
  position: relative;
  width: 100%;
  .category {
    border-radius: 6px;
    border: 4px solid #6DC084;
    margin-left: 70px;
    padding: 10px 10px 10px 50px;
  }
}

.image-glass {
  width: 120px;
  position: absolute;
  top: 65px;
}

