#barcode-scanner {
  position: relative;
}

#barcode-scanner canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#barcode-scanner video {
  width: 100%;
  height: 100%;
}

.sticky-footer, #scan, .panel-body, #barcode-scanner {
  height: 100vh;
}

#scandit-barcode-picker {
  height: 100vh;
}

.scandit.scandit-barcode-picker {
  height: 100vh !important;
  max-height: inherit !important;
}

video.scandit-video.mirrored {
  object-fit: cover !important;
}
